[data-control=calendar]{position:absolute;top:128px;left:20px;z-index:5 !important;width:280px;display:block;font-size:17px;margin:0 auto;}
[data-control=calendar] table{background:#fff;}
[data-control=calendar] table thead,[data-control=calendar] table tbody,[data-control=calendar] table tr{display:block;width:inherit}
[data-control=calendar] table thead td{font-weight:700;font-size:11px;line-height:24px;border:0}
[data-control=calendar] table td{width:40px;line-height:40px;text-align:center;font-weight:600;position:relative;border:solid 1px #eee;}
[data-control=calendar] table td:hover{background:#008000;border:0}
[data-control=calendar] table td.today{background:#00f;color:#fff !important;border:0}
[data-control=calendar] table td.weekend{color:#f00}
[data-control=calendar] table td.event:after{position:absolute;content:"·";position:#f00;top:12px;left:15px;font-size:28px;color:#f00}
[data-control=calendar] table td.disabled{color:#ddd}
[data-control=calendar] .layout{line-height:40px;background:#000;text-align:center;font-size:18px;color:#fff}
[data-control=calendar] strong{margin:0 4px}
